@charset "UTF-8";

body {
    background-color: #327bf8;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #002b74;
}

h1#principal {
    background-color: #0240aa;
    color: white;
    text-align: center;
}

h2 {
    color: #0240aa;
}

.basico {
    color: #35cf78;
}

.intermediario {
    color: #cfca35;
}

.avancado {
    color: #cf3535;
}

.destaque {
    background-color: #eded5c;
}