@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&family=Sriracha&display=swap');

* {
    margin: 0;
    padding: 0;
}

body { 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header h1 {
    font-family: 'Passion One', cursive;
    font-size: 9em;

    padding: 30px 0 10px;
}

header p {
    font-size: 1em;

    padding-bottom: 50px;
}

header p > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

header p > a:hover {
    text-decoration: underline;
    color: white;
    font-weight: bold;
}

main p {
    font-family: 'Sriracha', cursive;
}